<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.dao.UserDao">
    <select id="queryUserByPhone" resultType="com.fh.entity.po.User">
        select * from t_user where phone = #{0}
    </select>

    <insert id="addUser">
        insert into t_user (phone,password,createDate) value (#{phone},#{password},#{createDate})
    </insert>
</mapper>
